  <div class="container">
    <div class="row">
      <div class="card formInserimento col-3">
        <div class="card-body">
          <div>
            <b><label for="autore">AUTORE:</label><br></b>
            <input class="insAutore" name="Autore" #newautore>
          </div>
          <div>
            <b><label for="testo">TESTO:</label><br></b>
            <input  class="insTesto" name="Testo" #newtesto>
          </div>
          <button href='#' (click)="addPost(newautore, newtesto)" class="btn btnInserimento btn-primary">
            Inserisci nuovo post
          </button>
        </div>
        <div class="messaggio col-3" *ngIf="inserito==false">
          <p class="errore">Attenzione, inserire tutti i campi richiesti prima di riprovare</p>
        </div>
      </div>
      <div class="col-9">
        <div *ngFor="let p of postOrdinati()" >
          <app-posts  [post]="p" [comm]="commentiPerPost(p.id)" ></app-posts>
        </div>
      </div>
    </div>
  </div>
